<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CenterOfCreativityEntities" connectionString="metadata=res://*/BaseModel.BaseModel.csdl|res://*/BaseModel.BaseModel.ssdl|res://*/BaseModel.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A00NSN\SQLEXPRESS;initial catalog=CenterOfCreativity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>